.container {
    display: flex;
    flex-direction: column
}

.container > #header {
    min-height: 80px;
    max-height: 130px;
    min-width: 800px;
    max-width: 1500px;
    margin: 15px 5px 20px 5px;
    border-radius: 5px;
    background-color:#337AB7;
    color: white;
    font-size: 55px;
    font-family: serif;
    word-spacing: 5px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-align: center;
}

.container > .common-screen {
    margin: auto;
    min-width: 500px;
    max-width: 890px;
    min-height: 500px;
    max-height: 650px;
    border: solid 1px black;
    border-radius: 10px;
    
}

.container > .common-screen > .progress {
    margin: 50px;
    min-width: 650px;
    max-width: 800px;
    min-height: 35px;
    max-height: 55px;
}
 
.container > .common-screen > .progress > #ProgressBar {
    background-color: rgb(33, 209, 33);
} 

.container > .common-screen > #user-details-screen-one {
    min-width: 500px;
    max-width: 670px;
    min-height: 430px;
    max-height: 550px;
    margin: 10px 5px 30px 40px;
    border: solid 1px #F1F1F1;
    border-radius: 5px;
    background-color:#F1F1F1; 
}

.container > .common-screen > #user-details-screen-one > #user-name  {
    font-size: 30px;
    font-family: serif;
    min-height: 70px;
    max-height: 130px;
    margin: 45px 20px 2px 115px;
}

.container > .common-screen > #user-details-screen-one > #user-name > #user-name-value  {
    min-height: 35px;
    max-height: 50px;
    min-width: 190px;
    max-width: 250px;
    margin-left: 2px;
}

.container > .common-screen > #user-details-screen-one > #user-name > #user-name-error  {
    min-height: 30px;
    max-height: 40px;
    min-width: 14px;
    max-width: 210px;
    margin: 8px 10px 10px 2px;
    color: red;
    font-size: 20px;
    display: none;
}

.container > .common-screen > #user-details-screen-one > #user-name > #empty-user-name  {
    min-height: 30px;
    max-height: 40px;
    margin: 8px 10px 10px 2px;
    color: red;
    font-size: 20px;
    display: none;
}


.container > .common-screen > #user-details-screen-one > #user-email {
    font-size: 30px;
    font-family: serif;
    min-height: 50px;
    max-height: 90px;
    margin: 55px 20px 40px 85px;
    /* border: solid 1px black; */
}

.container > .common-screen > #user-details-screen-one > #user-email > #mail {
    font-size: 30px;
    min-height: 50px;
    max-height: 90px;
    margin: 10px 30px 20px 25px;
    /* border: solid 1px black; */
}

.container > .common-screen > #user-details-screen-one > #user-email > #email-id-value {
    min-height: 35px;
    max-height: 50px;
    min-width: 270px;
    max-width: 390px;
    margin-left: 25px;
}


.container > .common-screen > #user-details-screen-one > #user-email > #email-id-error  {
    min-height: 40px;
    max-height: 70px;
    margin: 8px 10px 10px 27px;
    color: red;
    font-size: 20px;
    display: none;
}

.container > .common-screen > #user-details-screen-one > #user-email > #empty-mail-id  {
    min-height: 40px;
    max-height: 70px;
    margin: 8px 10px 10px 27px;
    color: red;
    border: red;
    border-width: 1px;
    font-size: 20px;
    display: none;
}

.container > .common-screen > #user-details-screen-one > #next {
    float: right;
    margin: 30px 40px 10px 42px;
    min-height: 70px;
    max-height: 130px;
    /* border: solid 1px black; */
}

.container > .common-screen > #user-details-screen-two {
    min-width: 550px;
    max-width: 670px;
    min-height: 430px;
    max-height: 550px;
    margin: 5px 5px 30px 40px;
    border-radius: 5px;
    display: none;
    background-color:#F1F1F1;
}

.container > .common-screen > #user-details-screen-two > #enter-number {
    font-size: 30px;
    min-height: 70px;
    max-height: 120px;
    margin: 80px 20px 10px 45px;
    font-family: serif;
}

.container > .common-screen > #user-details-screen-two > #enter-number > #number-validation {
    min-height: 100px;
    max-height: 190px;
    margin: 35px 20px 20px 65px;
}

.container > .common-screen > #user-details-screen-two > #enter-number > #number-error {
    min-height: 20px;
    max-height: 40px;
    margin-left: 50px;
    color: red;
    font-size: 25px;
    display: none;
}

.container > .common-screen > #user-details-screen-two > #enter-number > #number-value {
    font-size: 30px;
    min-width: 50px;
    max-width: 90px;
    min-height: 20px;
    max-height: 40px;
    margin: 15px 20px 20px 65px;
}

.container > .common-screen > #user-details-screen-two > #select-type {
    min-height: 95px;
    max-height: 150px;
    margin: 30px 5px 5px 30px;
}

.container >.common-screen >  #user-details-screen-two > #select-type > #choose-option {
    font-size: 30px;
    font-family: serif;
    min-height: 80px;
    max-height: 140px;
    margin: 40px 20px 20px 85px;
}

.container >.common-screen >  #user-details-screen-two > #select-type > #select-value {
    font-size: 30px;
    font-family: serif;
    min-height: 45px;
    max-height: 80px;
    min-width: 150px;
    max-width: 240px;
    margin: 10px 20px 20px 80px;
}

.container > .common-screen > #user-details-screen-two > #buttonWrapper  {
    margin: 50px 30px 15px 30px;
    min-height: 75px;
    max-height: 120px;
    min-width: 550px;
    max-width: 780px;
}

.container > .common-screen > #user-details-screen-two > #buttonWrapper > #back {
    min-height: 70px;
    max-height: 130px;
    float: left;
    margin: 25px 5px 10px 30px;
}

.container > .common-screen > #user-details-screen-two > #buttonWrapper > #submit {
    min-height: 70px;
    max-height: 130px;
    float: right;
    margin: 25px 22px 10px 20px;
}

.container > .common-screen > #view-user-details {
    min-width: 550px;
    max-width: 680px;
    min-height: 430px;
    max-height: 520px;
    margin: 10px 5px 30px 40px;
    border-radius: 5px;
    display: none;
    background-color:#F1F1F1;
}

.container > .common-screen > #view-user-details > #heading {
    text-align: center;
    font-size: 33px;
    padding: 8px;
    margin-bottom: 10px;
}

.container > .common-screen > #view-user-details > #user-info {
    min-width: 150px;
    max-width: 290px;
    min-height: 60px;
    max-height: 80px;
    padding-top: 10px;
    margin: 20px 70px 10px 175px;
    border-radius: 5px;
    background-color:#337AB7;
    color: white;
}

.container > .common-screen > #view-user-details > #user-info > #data-key {
    min-width: 100px;
    max-width: 200px;
    min-height: 110px;
    max-height: 180px;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 10px 10px 30px;
    border-style: solid 1px black;
}


















